.parent{
    display: flex;
    gap: 3rem;
}
.login-popup-button {
    display: inline-block;
  }
.popup{
  position: fixed;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 30rem;
  width: 15rem;
}
.myinput{
  background-color: rgb(184, 78, 51);
  border: 2px solid;
  line-height: 1.5rem;
  color: white;
}
.navsection{
  display: flex;
  gap: 2rem;
}